{% extends "base.html" %} {% load custom_markdown %}  {% block content %}
  {% for post in post_list %}
  <section class="section">
    <div class="section-inner">
      <h2 class="heading"><a href="{% url "detail" id=post.id %}">{{ post.title }} </a> - <span class="year">{{ post.date_time |date:"Y /m /d"}}</span> <span class="label label-info category"><a href="#">{{ post.category }}</a></span></h2>
    </header>
    <div class="content">
      <p>
        {{ post.content | truncatewords_html:100 | custom_markdown}}
      </p>
    </div>
  </section>
  {% endfor %}
{% endblock %}
